<div class="container">
	<div class="row">
	
    
    <form>
  {{!-- <div class="row">

            <div class="col-xs-6">
                <input type="text" class="form-control">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control">
            </div>
            
        </div> --}}

        <br><center>
        <div class="row">
            <div class="col-xs-3">
         {{!-- <center> <button  type="button" id="myButton"class="btn btn-primary" style="height:40px;color:whitesmoke;margin-top:-50px;margin-right:92px;background-color:blue"{{action "Submit"}}>Get MarkSheet</button></center> --}}

    <button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;    margin-left: 32px;
"{{action "submit"}}>Document Uploads</button>
            </div>
            <div class="col-xs-3">
<button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;margin-left: 102px;
px; 

"{{action "sub"}}>Document Issued</button>            
</div>
            {{!-- <div class="col-xs-3">
<button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;margin-left:5px
"{{action "mit"}}>Pull Document</button>            </div> --}}
            <div class="col-xs-3">
<button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;margin-left:161px
"{{action "su"}}>Request Document </button>            </div> <br>  
        </div><br><br></center>
        
       

</form>
 <div class="col-xs-12">
    <img src="assets/image/edu.gif" class="form-control" style="width:100%;
    height:200px" >
            </div>
    
    
    
    
    
    
    
    
	</div>
</div>
<style>
    textarea.form-control {
    height: 137px;
}
</style>