
  <div class ="homesscreen">      
 
         <div class="headerpart"> <img class="im" src="assets/image/gon.png" height="110" width="200" margin-top="1000px" margin-bottom="-20px" margin-left="1px" margin-top= "-150px"padding-top="20px" />
         <p class="main-header" style= "text-align:center;margin-top:-69px;font-weight:bold;font-size:18px;color:white"><h2>GOVERNMENT OF MAHARASHTRA</h2></p>

<div class="navbar" style="    margin-top: 23px;">

  <a href="main"  class="glyphicon glyphicon-home" style="color:white;    margin-top: 21px;
margin-right: 1217px;">Home</a>
  <a href="main"  class="fa fa-users" style="color:white;    margin-top: -13px;    margin-left: 1188px;
">Admin</a>
     
</div>
          
       </div>
       
     </div>
     <br><br>


<div id="wrapper" style="margin-top:-51px">
   
        <div class="navbar-header">
            
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
               
            </a>
        </div>
        
        <!-- Top Menu Items -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-right top-nav">
                  
                      
                         
        </ul>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div>
            <ul class="nav navbar-nav side-nav">
                
                <li>
                   
                    <a href="main" id="profile" {{action "show"}}><font color="white"><h4 class="glyphicon glyphicon-home"></h4>Dash Board</font></a>
                   </li>
                <li>
                   <a href="main" id="profile1" {{action "show1"}}><font color="white"><h4 class="glyphicon glyphicon-list-alt"></h4>Issue Marksheet</font></a>
                    
                </li>
                <li>
                    <a href="main" id="profile2" {{action "show2"}}><font color="white"><h4 class="glyphicon glyphicon-exclamation-sign"></h4>Request for Update</font></a>
                </li>
                <li>
                    <a href="main" id="profile3" {{action "show3"}}><font color="white"><h4 class="glyphicon glyphicon-share"></h4>Share Marksheet</font></a>
                </li>
                <li>
                    <a href="main" id="profile4"{{action "show4"}}><font color="white"><h4 class="glyphicon glyphicon-check	
"></h4>Audit Trail</font></a>
                </li>
            </ul>
            </div>
            <div class="container">
	<div class="row" style="margin-top: -88px;">
	<h2>
<center>
Maharastra State Board of Secondary and Higher Secondary Education  
    
</center></h2>
	</div>
    
    <div class="row">
    
    <div class="col-md-6" style="margin-top:454px">       <!-- Standard button -->

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
{{!-- <button type="button" class="btn btn-primary ribbon">Class X MarkSheet</button> --}}
<button  type="button" id="my"class="btn btn-primary ribbon"  
    margin-left= "186px" style="margin-left:170px;margin-top= -1650px;    margin-top: -806px;" {{action "Submit"}}>Class X MarkSheet</button>
<!-- Indicates a successful or positive action -->
{{!-- <button type="button" class="btn btn-success ribbon">Class X Certificate</button> --}}
<button  type="button" id="myBut"class="btn btn-success ribbon"  style="margin-left:170px;margin-top= -1650px;    margin-top: -757px;"{{action "Sub"}}>Class X Certificate</button>

<!-- Contextual button for informational alert messages -->
{{!-- <button type="button" class="btn btn-info ribbon">Class XII MarkSheet</button> --}}
<button  type="button" id="Button"class="btn btn-info ribbon" style="margin-left:170px;margin-top= -1650px;    margin-top: -706px;"{{action "Sb"}}>Class XII MarkSheet</button>

<!-- Indicates caution should be taken with this action -->
{{!-- <center><button type="button" class="btn btn-warning ribbon">Class XII Certificate</button> --}}
<button  type="button" id="myB"class="btn btn-warning ribbon" style="margin-left:170px;margin-top= -1650px;    margin-top: -646px;"{{action "S"}}>Class XII MarkSheet</button>


</div>
</div>
</div>
            </div>
    

     

