 <div class ="homesscreen">      
 
         <div class="headerpart"> <img src="assets/image/gon.png" height="110" width="200" margin-top="1000px" margin-bottom="-20px" margin-left="1px" margin-top= "-150px"padding-top="20px" />
         <p class="main-header" style= "text-align:center;margin-top:-69px;font-weight:bold;font-size:18px;"><h2>GOVERNMENT OF MAHARASHTRA</h2></p>

<div class="navbar">
  <a href="main"  class="glyphicon glyphicon-home" style="color:white;    margin-top: 21px;
">Home</a>
  <a href="main"  class="glyphicon glyphicon-phone" style="color:white;    margin-top: 21px;    margin-left: 1188px;
">Contact</a>
     
</div>
          
       </div>
       
     </div>
    
       
   <br><br>


<div id="wrapper">
   
        <div class="navbar-header">
            
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
               
            </a>
        </div>
        
        <!-- Top Menu Items -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-right top-nav">
                  
                      
                         
        </ul>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div>
            <ul class="nav navbar-nav side-nav">
                
                <li>
                   
                    <a href="main" id="profile" {{action "show"}}><font color="white"><h4 class="glyphicon glyphicon-home"></h4>Dash Board</font></a>
                   </li>
                <li>
                   <a href="main" id="profile1" {{action "show1"}}><font color="white"><h4 class="glyphicon glyphicon-list-alt"></h4>Issue Marksheet</font></a>
                    
                </li>
                <li>
                    <a href="main" id="profile2" {{action "show2"}}><font color="white"><h4 class="glyphicon glyphicon-exclamation-sign"></h4>Request for Update</font></a>
                </li>
                <li>
                    <a href="main" id="profile3" {{action "show3"}}><font color="white"><h4 class="glyphicon glyphicon-share"></h4>Share Marksheet</font></a>
                </li>
                <li>
                    <a href="main" id="profile4"{{action "show4"}}><font color="white"><h4 class="glyphicon glyphicon-check	
"></h4>Audit Trail</font></a>
                </li>
            </ul>
            </div>

<div class="container">
	<div class="row">
	
    
    <form>
  {{!-- <div class="row">

            <div class="col-xs-6">
                <input type="text" class="form-control">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control">
            </div>
            
        </div> --}}

        <br>
        <div class="row">
            <div class="col-xs-3">
         {{!-- <center> <button  type="button" id="myButton"class="btn btn-primary" style="height:40px;color:whitesmoke;margin-top:-50px;margin-right:92px;background-color:blue"{{action "Submit"}}>Get MarkSheet</button></center> --}}

     <button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;margin-left:5px
"{{action "submit"}}>Document Uploads</button>
            </div>
            <div class="col-xs-3">
<button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;margin-left:5px
"{{action "sub"}}>Document Issued</button>            
</div>
            <div class="col-xs-3">
<button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;margin-left:5px
"{{action "mit"}}>Pull Document</button>            </div>
            <div class="col-xs-3">
<button  type="button" id="mybutton" class="btn btn-primary" style="height: 137px;color:black; font-size: -5px;margin-left:5px
"{{action "su"}}>Request Document </button>            </div> <br>  
        </div><br><br>
        
       

</form>
 <div class="col-xs-12">
                <img src="assets/image/edu.gif" class="form-control" style="width:100%;
    height:200px;    margin-top: -257px">
            </div>
    
    
    
    
    
    
    
    
	</div>
    </div>
</div>
<style>
    textarea.form-control {
    height: 137px;
}
</style>