 <div class ="homesscreen">      
 
         <div class="headerpart"> <img class="im" src="assets/image/gon.png" height="110" width="200" margin-top="1000px" margin-bottom="-20px" margin-left="1px" margin-top= "-150px"padding-top="20px" />
         <p class="main-header" style= "text-align:center;margin-top:-69px;font-weight:bold;font-size:18px;color:white"><h2>GOVERNMENT OF MAHARASHTRA</h2></p>

<div class="navbar" style="    margin-top: 23px;">

  <a href="main"  class="glyphicon glyphicon-home" style="color:white;    margin-top: 21px;
margin-right: 1217px;">Home</a>
  <a href="main"  class="fa fa-users" style="color:white;    margin-top: -13px;    margin-left: 1188px;
">Admin</a>
     
</div>
          
       </div>
       
     </div>
     <br><br>


<div id="wrapper" style="margin-top: -50px">
   
        <div class="navbar-header">
            
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
               
            </a>
        </div>
        
        <!-- Top Menu Items -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-right top-nav">
                  
                      
                         
        </ul>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div>
            <ul class="nav navbar-nav side-nav">
                
                <li>
                   
                    <a href="main" id="profile" {{action "show"}}><font color="white"><h4 class="glyphicon glyphicon-home"></h4>Dash Board</font></a>
                   </li>
                <li>
                   <a href="main" id="profile1" {{action "show1"}}><font color="white"><h4 class="glyphicon glyphicon-list-alt"></h4>Issue Marksheet</font></a>
                    
                </li>
                <li>
                    <a href="main" id="profile2" {{action "show2"}}><font color="white"><h4 class="glyphicon glyphicon-exclamation-sign"></h4>Request for Update</font></a>
                </li>
                <li>
                    <a href="main" id="profile3" {{action "show3"}}><font color="white"><h4 class="glyphicon glyphicon-share"></h4>Share Marksheet</font></a>
                </li>
                <li>
                    <a href="main" id="profile4"{{action "show4"}}><font color="white"><h4 class="glyphicon glyphicon-check	
"></h4>Audit Trail</font></a>
                </li>
            </ul>
            </div>
<div class="container" style=" margin-top:10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="row">
                <div class="col-sm-7">
                    <div>
                    <h3>Digital Document</h3>
                    <table class="table text-center table-bordered w-100">
                        <thead class="bg-primary">
                            <tr>
                            <td>Sr.NO</td>
                            <td>URL</td>
                            <td>Certificate Name</td>
                            <td>Issued Date</td>
                            <td>Share</td>
                                </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td colspan="5">NILL</td>
                            </tr>
                        </tbody>
                    </table>
                        </div>
                      <div>
                    <h3>Update Document</h3>
                    <table class="table text-center table-bordered">
                        <thead class="bg-primary">
                            <tr>
                            <td>Sr.NO</td>
                            <td>Certificate Name</td>
                            <td>Uploaded Date</td>
                            <td>Status</td>
                            <td>Action</td>
                            <td>Details</td>
                            <td>Share</td>
                            <td>DigiSign</td>
                                </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td colspan="8">NILL</td>
                            </tr>
                        </tbody>
                    </table>
                        </div>
                   <p>You can download <a href="https://www.uidai.gov.in" style="text-decoration:none;"> eAadhaar </a> and store it here.</p>
                </div>
				<h3>Update documents</h3>
				 
                <div class="col-sm-5" style="border-style: solid; margin-top:338px;margin-left:495px;border-width: 1px; padding-top:10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    margin-top: -324px;
">
                      
                 
                      <form class="form-horizontal" action="/action_page.php">
                          <div class="form-group">
                            <label class="control-label col-sm-4">Select Document :</label>
                            <div class="col-sm-8">
                             <select class="form-control" id="sel1">
							 <option>Select documents</option>
								<option>SSC Certificate</option>
								<option>HSC Certificate</option>
								<option>Degree Certificate</option>
								{{!-- <option>RSBY Card</option>
								<option>Got Id Card</option>
								<option>PAN Card</option>
								<option>MNREGA Card</option>
								<option>Voter Id card</option>
								<option>Passport</option>
								<option>Driver's Licenes</option>
								<option>Electricity Bill</option>
								<option>Water Bill</option>
								<option>Rent Recipt</option>
								<option>Telephone Bill</option>
								<option>Ration Card</option>
								<option>Porperty Tac Recipt</option>
								<option>Recidence Certificate</option> --}}
								<option>Other</option>
							  </select>
                            </div>
                          </div>
                           {{!-- <div class="form-group ">
                            <label class="control-label col-sm-4">State :</label>
                            <div class="col-sm-8">
                              <input type="email" class="form-control">
                            </div>
                          </div> --}}
						    <div class="form-group ">
                            <label class="control-label col-sm-4">Gov ID Card NO :</label>
                            <div class="col-sm-8">
                              <input type="email" class="form-control" style="height=20px">
                            </div>
                          </div>
						    <div class="form-group ">
                            <label class="control-label col-sm-4">Name as per ID Card :</label>
                            <div class="col-sm-8">
                              <input type="email" class="form-control">
                            </div>
                          </div><br>
						    {{!-- <div class="form-group ">
                            <label class="control-label col-sm-4">Upload Document :</label>
                            <div class="col-sm-8">
                              <input type="email" class="form-control">
                            </div>
                          </div> --}}
                          <div class="containerss">
    <div class="row">    
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">  
            <!-- image-preview-filename input [CUT FROM HERE]-->
            <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" disabled="disabled"   style="margin-left: 25px;
    width: 143px;height:32px;
    margin-top: -29px"
> <!-- don't give a name === doesn't send on POST/GET -->
     <label class="control-label col-sm-4" style="
    margin-top: -36px;    margin-left: -244px;
">Upload Document:</label>

                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input" style="margin-right: 360px;
    margin-top: -35px;
    width: 83px;">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title" margin-left="20px">Browse</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                    </div>
                </span>
            </div><!-- /input-group image-preview [TO HERE]--> 
        </div>
    </div>
</div><br><br>
						    <div class="form-group ">
                            <label class="control-label col-sm-4">Description :</label>
                            <div class="col-sm-8">
                              <input type="email" class="form-control">
                            </div>
                          </div>
                           <button  type="button" id="mybutton" class="btn btn-primary" style="height: 36px;color:black; font-size: -5px;margin-left:5px
"{{action "submit"}}>Document Uploads</button>
                        </form>
	                    </div>
               <div style="padding:180px;"></div>
            </div>
        </div>
        </div>

        <script>
            $(document).on('click', '#close-preview', function(){ 
    $('.image-preview').popover('hide');
    // Hover befor close the preview
    $('.image-preview').hover(
        function () {
           $('.image-preview').popover('show');
        }, 
         function () {
           $('.image-preview').popover('hide');
        }
    );    
});

$(function() {
    // Create the close button
    var closebtn = $('<button/>', {
        type:"button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
    });
    closebtn.attr("class","close pull-right");
    // Set the popover default content
    $('.image-preview').popover({
        trigger:'manual',
        html:true,
        title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
        content: "There's no image",
        placement:'bottom'
    });
    // Clear event
    $('.image-preview-clear').click(function(){
        $('.image-preview').attr("data-content","").popover('hide');
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Browse"); 
    }); 
    // Create the preview image
    $(".image-preview-input input:file").change(function (){     
        var img = $('<img/>', {
            id: 'dynamic',
            width:250,
            height:200
        });      
        var file = this.files[0];
        var reader = new FileReader();
        // Set preview image into the popover data-content
        reader.onload = function (e) {
            $(".image-preview-input-title").text("Change");
            $(".image-preview-clear").show();
            $(".image-preview-filename").val(file.name);            
            img.attr('src', e.target.result);
            $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
        }        
        reader.readAsDataURL(file);
    }); 
        </script>